.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

mat-card{
    width: 1000px;
    padding: 20px;
    margin: 20px;
}

mat-card-content{
    text-align: center;
}